<div class="container__big-card">
  <div class="big-card__img">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzFFiT1-R8UiQXXGIecE5v0kRVKn9b2Oajug&usqp=CAU"
      alt="">
  </div>
  <div class="big-card__title">
    <h1><a href="#">Lançada nova rede de microblogs "Y"</a></h1>
  </div>
  <div class="big-card__description">
    <p>Venham conhecer nova rede social no estilo de microblogs, Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. Vestibulum ultrices aliquam turpis, id sollicitudin nulla faucibus sit amet. Aenean viverra lacinia enim.
      Nam luctus felis ut lectus fermentum bibendum.</p>
  </div>
</div>