* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(01, 01, 01);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

a {
  text-decoration: none;
}

#root {
  min-width: max-content;
}